<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>hm</servlet-name>
        <servlet-class>hm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPersonas</servlet-name>
        <servlet-class>Controlador.ListaPersonas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hm</servlet-name>
        <url-pattern>/hm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPersonas</servlet-name>
        <url-pattern>/ListaPersonas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
